<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Amazing Layout design</title>
    </head>
    <body>
        <div class="container">
            <header>
                <h2><a href=""><i class="ion-plane"></i>Layouta</a></h2>
                <nav>
                    <ul>
                        <li>
                            <a href="" title="Hotels">Hotels</a>
                        </li>
                        <li>
                            <a href="" title="Flights">Flights</a>
                        </li>
                        <li>
                            <a href="" title="Tour">Tour</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
    </body>
</html>